@using TimeShitApp.Share
@inherits LayoutComponentBase
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage;
@inject NavigationManager NavigationManager

<PageTitle>TimeShitApp</PageTitle>

<div class="page">

    <main>
        <div class="top-row px-4">
            @if (IsLogin)
            {
                <div class="mx-2">@User.Email</div>
                <button type="submit" class="btn btn-warning" @onclick="ButtonClick">Logout</button>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    public bool IsLogin { get; set; }
    public User User { get; set; }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        User = await sessionStorage.GetItemAsync<User>(StorageConstants.StorageUser) ?? new User(string.Empty, string.Empty, string.Empty, string.Empty);
        IsLogin = await sessionStorage.ContainKeyAsync(StorageConstants.StorageCredentions);
        StateHasChanged();
    } 
    
    private async Task ButtonClick(MouseEventArgs args){
        await sessionStorage.RemoveItemAsync(StorageConstants.StorageCredentions);
        IsLogin = false;
        StateHasChanged();
        NavigationManager.NavigateTo("/");
        
    }

}